# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch files
*.pt
*.pth

# HDF5 datasets and model weights
*.h5
*.hdf5

# Logs and TensorBoard
*.log
runs/
events.out.*

# OS files
.DS_Store
Thumbs.db

# VSCode config (optional)
.vscode/

# PyCharm config (optional)
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Data directories
/Data/DIV2K
*.json
checkpoints/
*.zip